

// top
.header-wrap{
background:linear-gradient(90deg,#fff 50%, #222222 50%);
  justify-content: center;
  width: 100%;
  width: 1440px;
  height: 740px;  
    /*----------------------
     header-nav
     ---------------------*/
  
     .header-nav{
       background-color: #fff;
       color: black;
       text-align: left;
      width: 1440px;
      margin-top: 0;
      display: none;
      opacity: 0.9;
      z-index: 2;
      
       .header-items {
          li{
            padding:20px 0px;
            border-bottom: 1px solid #000000;
            font-size: 30px;
            height: 100%;
            width: 100%;
  
            &:hover{
              text-decoration: underline;
            }
          }
          .fas{
            padding: 0px 10px;
          }
        }
      }
  .inner-header{
    background-image: url(../img/top/the-honest-company-uM-WXMr-1.png);
    z-index: 1;
    margin-right: 340px;
    width: 1100px;
    height: 640px;
    color: white;

   /*burger-btn*/
   .burger-btn{
    display: flex;   
    flex-direction: column;   
    justify-content: space-between;
    width: 39px;      
    height: 39px;    
    margin-left: 1300px; 
    margin-top: 0; 
    z-index: 3;
    border:none;    

    .header-menu{
      margin-top: 20px;
      margin-left: 1320px;
      color: #fff;
    }
    .bar{     
      width: 40px;      
      height: 2px;        
      display: flex;   
      justify-content: space-between;   
      position: relative;      
      left: 50%;      
      transform: translateX(-50%);      
      background-color: #fff;    
    }    
    .bar_top{   
      top: 9px;
    }
    .bar_mid{    
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .bar_bottom{
      bottom:7px;
    }
  }    

  .burger-btn.close .bar_top{      
    transform: translate(-50%,12px) rotate(45deg);      
    transition: transform .3s;    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0;       
    transition: opacity .3s;    
  }    
  .burger-btn.close .bar_bottom{      
    transform:translate(-50%, 25px) rotate(-45deg);
    transition: transform .3s;    
  }


    .header-logo{
      margin-top: 22px;
    }

    
    .header-text{
      margin:161px 208px 262px 954px;
      display:flex;
      flex-direction: column;
      align-items: center;
      height: 317px;
      width: 278px;
      
      
      
      
      .header-title{
        font-size: 20px;
      }
      .header-impact{
        font-size: 72px;
      }
    }
  }
}
  

// about
.about-inner{
 
  margin-top: 120px;
  margin-left: 170px;
  margin-right: 170px;

  .about-img{
    background-image: url(../img/about/about-img.png);
    height: 607px;
    width: 1100px;
  }

  .about-textbox{
    position: relative;
    width: 597px;
    height: 387px;
    background-color: #fff;
    margin: 110px 31px 110px 50px;

    .about-title{
      position: absolute;
      font-size: 32px;
      font-family: 'Montserrat ExtraBold',serif;
      padding: 56px 382px 300px 30px;
    }

    .about-text{
      position: absolute;
      font-size: 16px;
      font-family: 'Noto Sans JP';
      height: 152px;
      width: 530px;
      line-height:2;
      margin: 120px 30px;
    }

    .about-btn{
      height: 36px;
      width: 160px;
      font-size: 12px;
      position: absolute;
      margin: 300px 400px 50px 30px;
      padding: 12px 40px;
    }

  }

}

.btn{
  height: 36px;
  width: 160px;
  color: #fff;
  background-color: #000000;
  text-align: center;
  &:hover{
    opacity:0.7;
  }
}

// works-culture

.service{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 771px;
  background-color: #F0F0F0;

  .works-inner{
    height: 525px;
    width: 520px;
    display: flex;
    flex-direction: column;

  .works-title{
    font-size: 32px;
    font-family: 'Montserrat ExtraBold';
    
  }

  .works-img{
    width: 520px;
    height: 350px;
    margin-top: 31px;
  }

  .works-des{
    font-size: 16px;
    font-family: "游ゴシック体";
    color: #222222;
    margin-top: 30px;

  }

  .works-btn{
    height: 36px;
    width: 160px;
    font-size: 12px;
    padding: 12px 40px;
    margin-top: 30px;
  }
}

// culture

.culture-inner{
  display: flex;
  flex-direction: column;
  height: 525px;
  width: 520px;

.culture-title{
  font-size: 32px;
  font-family: 'Montserrat ExtraBold';
}

.culture-img{
  width: 520px;
  height: 350px;
  margin-top: 31px;
}

.culture-des{
  font-size: 16px;
  font-family: "游ゴシック体";
  color: #222222;
  margin-top: 30px;

}

.culture-btn{
  height: 36px;
  width: 160px;
  font-size: 12px;
  padding: 12px 40px;
  margin-top: 30px;
}
}
}


// news

.latest-inner{
  height: 342px;
  width: 1100px;
  background-color: #fff;
  margin: 60px 170px;

  .news-title{
    font-size: 32px;
    font-family: "Montserrat ExtraBold";

  }

  .news-items{
    
    .news-item{
      width: 700px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-bottom: 1px solid #DDDDDD;
      .date{
        font-size: 10px;
        font-family: "Montserrat Medium";
      }

      .article-title{
        padding-top: 13px;
        font-size: 14px;
        font-family: "游ゴシック体";
        &:hover{
          border-bottom: 1px solid grey;
          cursor: pointer;
        }
      }

      
      }
    }
  }

  .news-btn{
    height: 36px;
width: 160px;
font-size: 12px;
padding: 12px 40px;
margin-top: 30px;
}


// contact

.contact-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 570px;
  width: 1440px;
  background-color: #F2F2F2;


  .contact-item{
    display: flex;
    flex-direction: column;

    .contact-title
    {
      font-size: 32px;
      font-family: "Montserrat ExtraBold";
    }


    .contact-desc{
      padding-top: 30px;
      line-height: 2;
      font-size: 16px;
    }

    .contact-btn{
      height: 36px;
      width: 160px;
      font-size: 12px;
      padding: 12px 40px;
      margin-top: 30px;

    }
  }
}

// トップへ戻るボタン
#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
#page_top a {
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}
#page_top a:hover {
  text-decoration: none;
  opacity: 0.8;
}


// footer
.footer {
  background-color: #707070;
  height: 50px;
  width: 1440px;

  .copyright{
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-family: "Montserrat Medium";
    padding: 20px 665px;
  }
}